streamlit
pyyaml
pandas
joblib
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-community
chromadb
openai
langgraph
sqlite3
pysqlite3
tiktoken
pydantic
pydantic-settings
pydantic-core
pysqlite3-binary